﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediosMexicanos</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/css/stylexipesaasland.css" rel="stylesheet" />
    <link href="~/css/Custom.css" rel="stylesheet" />

</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediosMexicanos</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <header class="header_area">
        <nav class="navbar navbar-expand-lg menu_one menu_eight">
            <div class="container">
                <a class="navbar-brand sticky_logo" href="#"><img src="~/img/nativowhite.png" style="max-height:70px;" srcset="~/img/nativowhite.pn 2x" alt="logo"><img src="img/nativo.png" srcset="img/nativo.png 2x" alt="" style="max-height:70px;"></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu_toggle">
                        <span class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="hamburger-cross">
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <a class="btn_get btn_hover saas_btn erp_btn_two" href="https://wa.me/6622764075">Contactar un agente</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer_area h_footer_dark pos_footer_area">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget dark_widget company_widget">
                        <a href="index.html" class="f-logo"><img src="~/img/nativowhite.png" alt="" style="max-height:60px;"></a>
                        <p>© 2019 NATIVO, Todos los derechos reservados. Hecho en México</p>
                        <div class="f_social_icon">
                            <a href="#" class="ti-facebook"></a>
                            <a href="#" class="ti-twitter-alt"></a>
                            <a href="#" class="ti-vimeo-alt"></a>
                            <a href="#" class="ti-pinterest"></a>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_70">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_20">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Term & conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Block Storage</a></li>
                            <li><a href="#">Tools & Integrations</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_20">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Contact</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Sales</a></li>
                            <li><a href="#">Report Abuse</a></li>
                            <li><a href="#">System Status</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
         
        </div>
        <svg class="wave_shap" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" opacity="0.302" fill="rgb(73, 69, 140)" d="M22.990,11.999 C22.990,11.999 -62.334,196.188 102.000,90.998 C236.033,5.204 349.217,18.152 512.000,80.998 C773.380,181.909 898.075,49.752 1051.000,15.998 C1316.369,-42.574 1488.518,78.268 1581.000,112.999 C1783.485,189.036 1942.990,61.999 1942.990,61.999 L1942.990,211.999 L22.990,211.999 L22.990,11.999 Z" />
        </svg>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/xipesaasland.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
