﻿


    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="V" class="letters-loading">
                        V
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                       O
                    </span>
                    
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">


        <section class="payment_banner_area">
            <div class="shape one"></div>
            <div class="shape two"></div>
            <div class="container">
                <div class="payment_banner_content wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                    <h1 class="f_p f_700 f_size_50 w_color">Lanza tu marca con los mejores.</h1>
                    <p class="w_color f_p f_size_18">Somos un grupo multimedia que posee y representa diferemtes medios de comunicación; Creamos y manejamos tu campaña a nivel nacional!</p>
                    <div class="action_btn d-flex align-items-center mt_60">
                        <a href="https://wa.me/6622764075" class="btn_hover agency_banner_btn">Contactar un agente</a>
                       
                    </div>
                </div>
            </div>

            <img class="svg_intro_bottom" src="img/home9/shape.png" alt="">
        </section>



        <section class="app_featured_area">
            <div class="container">
                <div class="row flex-row-reverse app_feature_info">
                    <div class="col-lg-6">
                        <div class="app_fetured_item">
                            <div class="app_item item_one" data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 50}" style="transform:translate3d(0px, 25.853px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 25.853px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                <i class="ti-face-smile f_size_40 w_color"></i>
                                <h6 class="f_p f_400 f_size_16 w_color l_height45">Redes Sociales</h6>
                            </div>
                            <div class="app_item item_two" data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: -30}" style="transform:translate3d(0px, -13.851px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, -13.851px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                <i class="ti-receipt f_size_40 w_color"></i>
                                <h6 class="f_p f_400 f_size_16 w_color l_height45">Radio</h6>
                            </div>
                            <div class="app_item item_three" data-parallax="{&quot;x&quot;: 50, &quot;y&quot;: 10}" style="transform:translate3d(15.192px, 3.039px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(15.192px, 3.039px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                <i class="ti-face-smile f_size_40 w_color"></i>
                                <h6 class="f_p f_400 f_size_16 w_color l_height45">Prensa</h6>
                            </div>
                            <div class="app_item item_four" data-parallax="{&quot;x&quot;: -20, &quot;y&quot;: 50}" style="transform:translate3d(-4.597px, 11.568px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(-4.597px, 11.568px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                <i class="ti-tablet f_size_40 w_color"></i>
                                <h6 class="f_p f_400 f_size_16 w_color l_height45">Televisón </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="app_featured_content">
                            <h2 class="f_p f_size_30 f_700 t_color3 l_height45 pr_70 mb-30">Nativo agencia de medios</h2>
                            <p class="f_400"> Representamos a los mejores medios del país y creamos una cadena con las herramientas necesarias a los clientes para facilitar la implementación de sus campaña </p>
                            <p>Ponemos tu marca frente a millones de personas</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="payment_service_area">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-4">
                        <div class="service-content wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                            <div class="pay_icon">
                                <div class="icon_shape"></div>
                                <img src="img/home9/icon3.png" alt="">
                            </div>
                            <h2 class="f_p w_color f_700">Fácil contratación</h2>
                            <p class="f_p w_color">Empezar npunca fue tan facil. Contacta un asesor y contrata en línea.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="icon">
                                    <img src="img/home9/icon4.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h3 class="f_size_20 f_p w_color f_600">Programación</h3>
                                    <p class="f_400 f_size_15 w_color">Nuestras emisoras cuentan con diferentes formatos musicales y hablados, de tal manera alcanzamos a diferentes tipos de audiencias objetivo</p>
                                </div>
                            </div>
                            <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <div class="icon">
                                    <img src="img/home9/icon7.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h3 class="f_size_20 f_p w_color f_600">Rating</h3>
                                    <p class="f_400 f_size_15 w_color">Contamos con ratings en todas nuestras plazas para justiﬁcar la inversión en nuestras emisora</p>
                                </div>
                            </div>
                            <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="icon">
                                    <img src="img/home9/icon5.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h3 class="f_size_20 f_p w_color f_600">Equipo creativo</h3>
                                    <p class="f_400 f_size_15 w_color">Producimos el material publicitario (spots, cápsulas) sin costo adicional para las campañas contratadas en nuestras emisoras </p>
                                </div>
                            </div>
                            <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="icon">
                                    <img src="img/home9/icon8.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h3 class="f_size_20 f_p w_color f_600">Inversión</h3>
                                    <p class="f_400 f_size_15 w_color">Tenemos acceso a tarifas y condiciones comerciales preferenciales </p>
                                </div>
                            </div>
                            <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="icon">
                                    <img src="img/home9/icon6.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h3 class="f_size_20 f_p w_color f_600">Alcance</h3>
                                    <p class="f_400 f_size_15 w_color">
                                        Cobertura nacional a través de alianzas estratégicas con grupos radiofónicos (grandes y pequeños)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="prototype_service_info">
            <div class="symbols-pulse active">
                <div class="pulse-1"></div>
                <div class="pulse-2"></div>
                <div class="pulse-3"></div>
                <div class="pulse-4"></div>
                <div class="pulse-x"></div>
            </div>
            <div class="container">
                <h2 class="f_size_30 f_600 t_color3 l_height45 text-center mb_90">Servicios que ofrecemos.</h2>

                <div class="row p_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70">
                            <div class="icon icon_one"><i class="ti-panel"></i></div>
                            <h5 class="f_600 f_p t_color3">Planeación de campañas</h5>
                            <p class="f_400">Nuestro equipo de expertos en mercadotecnia, diseño y análisis de datos te ayudarán a diseñar una campaña a la medida de tu marca.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_50 pr_20">
                            <div class="icon icon_two"><i class="ti-layout-grid2"></i></div>
                            <h5 class="f_600 f_p t_color3">Negociación y compra de medio</h5>
                            <p class="f_400">Aparecer en todos lados nunca fue tan fácil, nuestros agentes se encargan de negociar con radio, prensa, tv y manejo de pautas.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_70">
                            <div class="icon icon_three"><i class="ti-fullscreen"></i></div>
                            <h5 class="f_600 f_p t_color3">Creación de contenido</h5>
                            <p class="f_400">¿Buscas Contenido de calidad, actual y constante para enganchar a tu audiencia?, nosotros lo creamos por ti.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70">
                            <div class="icon icon_four"><i class="ti-vector"></i></div>
                            <h5 class="f_600 f_p t_color3">Producción de contenido audiovisual</h5>
                            <p class="f_400">El video es la forma más poderosa de transmitir una idea, nuestro equipo te ayudará con toda la producción.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_50 pr_20">
                            <div class="icon icon_five"><i class="ti-cloud-down"></i></div>
                            <h5 class="f_600 f_p t_color3">
                                Manejo y ejecución de campañas
                            </h5>
                            <p class="f_400">Nuestros agentes manejarán tu campaña cuidando tu presupuesto y maximizando los resultados.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_70">
                            <div class="icon icon_six"><i class="ti-bolt"></i></div>
                            <h5 class="f_600 f_p t_color3">Entrega de resultados </h5>
                            <p class="f_400">Recibe los resutlados tan rápido como se generan, contamos con herramientas que miden y te acercan los resultados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="erp_features_area_two sec_pad">
            <div class="container">
                <div class="row erp_item_features align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="~/img/tv.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Televisión</h2>
                                <p>
                                    Contamos con nuestro sistema de televisión por cable llamado SUPERCABLE, el cual inició operaciones en 2011.
                                    <br /> Actualmente cuenta con más de 50,000 suscriptores
                                </p>
                            </div>
                            <div class="media erp_item">
                                <div class="icon">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>
                          
                            </div>
                            @*<div class="media erp_item">
                                <div class="icon green">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>*@
                           
                        </div>
                    </div>
                </div>
                <div class="row erp_item_features align-items-center">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon red"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="~/img/download.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Prensa</h2>
                                <p>Con un tiraje de 10,000 impresiones diarias, La Voz del Sureste es reconocido como uno de los periódicos líderes en el estado de Chiapas.</p>
                            </div>
                            <div class="media erp_item">
                                @*<div class="icon blue">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>*@
                                @*<div class="media-body">
                                    <h5>Everybody Gets a Dashboard</h5>
                                </div>*@
                            </div>
                            @*<div class="media erp_item">
                                <div class="icon yellow">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>*@
                           
                        </div>
                    </div>
                </div>
                <div class="row erp_item_features align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon green"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="~/img/radio.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Radio</h2>
                                <p>Con más de 18 estaciones propias y más de 200 radios aliadas, tenemos covertura en todo el país para todos los segmentos y horarios.</p>
                            </div>
                            @*<div class="media erp_item">
                                <div class="icon purple">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Cobertura</h5>
                                </div>
                            </div>*@
                            @*<div class="media erp_item">
                                <div class="icon green_two">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>*@
                           
                        </div>
                    </div>
                    @*<div class="col-12">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <h4>CDMX</h4>
                            <p>
                               Xeoc radio chapultepec
                            </p>
                            <h4>CHIAPAS</h4>
                            <p>XHPTCS La mejor FM</p>
                            
                            <p></p>
                            <h4>COLIMA</h4>
                            <h4>CHIHUAHUA</h4>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <h4>DURANGO</h4>
                            <h4>GUANAJUATO</h4>
                            <h4>HIDALGO</h4>
                        
                        
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <h4>JALISCO</h4>
                            <h4>MICHOACAN</h4>
                            <h4>PUEBLA</h4>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <h4>QUINTANA ROO</h4>
                            <h4>TABASCO</h4>
                            <h4>VERACRUZ</h4>
                        </div>








                    </div>*@
                </div>
            </div>
        </section>

        <section class="sass_partner_logo_area sec_pad">
            <div class="container">
                <div class="sec_title text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color">Nuestros clientes</h2>
                    <p class="f_400 f_size_16">Trabajamos con grandes marcas a nivel nacional.</p>
                </div>
                <div class="partner_logo_area_four">
                    <div class="row partner_info">
                        <div class="">
                            <a href="#"><img src="~/img/clientes/cerveza-sol-logo-vector.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/Chrysler.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/Circulo.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/download.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/dupont.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/uber.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/Walmart.png" style="height:150px !important; margin:10px;" alt=""></a>
                        </div>
                        <div class="">
                            <a href="#"><img src="~/img/clientes/Xipe-technology logo.jpg" style="height:100px !important; margin:10px;" alt=""></a>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
   